!!! XML
!!! Strict

%html{html_attrs}
  %head
    %title<
      Rouge Spec Suite
    
    / Screw.Unit styles
    %link(href='screw-unit/lib/screw.css'
          rel='stylesheet')
  
  %body
    %ul
      %li<
        %a(href='core/array/class-spec.html')<
          Core.Array class
      
      %li<
        %a(href='core/array/that-is-empty-spec.html')<
          Core.Array that is empty
      
      %li<
        %a(href='core/array/with-one-nonnull-element-spec.html')<
          Core.Array with one non-null element
      
      %li<
        %a(href='core/array/with-two-nonnull-elements-spec.html')<
          Core.Array with two non-null elements
      
      %li<
        %a(href='core/array/with-one-nonnull-element-and-one-null-element-spec.html')<
          Core.Array with one non-null element and one null element
      
      %li<
        %a(href='core/array/with-one-true-element-and-one-false-element-spec.html')<
          Core.Array with one true element and one false element
      
      %li<
        %a(href='core/array/with-three-nonnull-elements-spec.html')<
          Core.Array with three non-null elements
